<ul class="nav">

  <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products">Products List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products/add">Add Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>

</ul>

<ng-container *ngIf="isLoggedIn$ | async as isLogged">
<div>{{ isLogged }}</div>
</ng-container>
<button (click)="logIn()">LogIn</button>
